<div class="about row-fluid" id="about">
  <div class="container-fluid">
      <div class="span5">
        <div class="home-about-me">
          <%= image_tag 'tuhin.png', class: 'home-image'%>
          <h1 style="text-align: center">I am RoR web Developer </h1>
        </div>

      </div>
      <div class="span7">
        <div class="about-me-container">
          <div class="objective-text"> I am Shahriar Ahmmed Tuhin, originally from Gaibandha,
            a little district located in Northern, The Bangladesh. </br> Now its a timely demand to go with technology.
            Technology makes the life easier. Check out my Resume to see what technical skills I can contribute to you or
            your organization. I also like working in a team, in team everyone learn faster and more. As the saying
            goes: 'Two heads are better than one'. I am currently living in dhaka,Bangladesh.
          </div>
        </div>
      </div>
  </div>

</div>