<div class="home" id="home">
  <div class="row-fluid">
    <div class="container-fluid">
      <div class="span5">
        <div class="home-about-me">
          <%= image_tag 'tuhin.png', class: 'home-image img-circle'%>
          <h1 style="text-align: center">I am RoR web Developer </h1>
        </div>
      </div>
      <div class="span7">
        <div class="slider-container">
             <div class="image">
               sdfsdf
             </div>
        </div>

      </div>

    </div>
  </div>

</div>