<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Shahriar</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to 'Home','#'  %></li>
          <li><%= link_to 'Resume','#' %></li>
          <li><%= link_to 'Contact', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

